* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eed749;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}
